In [2]:
# 1
print("Hello World")

Hello World

In [3]:
# 2
print("Mary's cosmetics")

Mary's cosmetics

In [6]:
# 3
print('신씨가 소리질렀다. "도둑이야".')

신씨가 소리질렀다. "도둑이야".

In [8]:
# 4
print('"C:\\Windows"')

"C:\Windows"

In [9]:
# 5
print("안녕하세요.\n만나서\t\t반갑습니다.")

안녕하세요.
만나서		반갑습니다.

In [10]:
# 6 *
print("오늘은", "일요일")

오늘은 일요일

In [11]:
# 7
print("naver", "kakao", "sk", "samsung", sep=";")

naver;kakao;sk;samsung

In [12]:
# 8
print("naver", "kakao", "sk", "samsung", sep="/")

naver/kakao/sk/samsung

In [13]:
# 9
print("first", end="");print("second")

firstsecond

In [15]:
# 10
print(5/3)

1.6666666666666667

In [16]:
# 11
삼성전자 = 50000
print(삼성전자 * 10)
"""
정답
삼성전자 = 50000
총평가금액 = 삼성전자 * 10
print(총평가금액)
"""

500000

In [17]:
# 12
시가총액 = "298조"
현재가 = 50000
per = 15.79

print(시가총액)
print(현재가)
print(per)

298조
50000
15.79

In [18]:
# 13
s = "hello"
t = "python"
print(s + "! " + t)

hello! python

In [19]:
# 14
print(2 + 2 * 3)

8

In [20]:
# 15
a = "132"
print(type(a))

<class 'str'>

In [21]:
# 16
num_str = "720"
print(int(num_str))

720

In [25]:
# 17
num = 100
num = str(num)
print(num, type(num))

100 <class 'str'>

In [24]:
# 18
ex1 = "15.79"
ex1 = float(ex1)
print(ex1, type(ex1))

15.79 <class 'float'>

In [28]:
# 19
year = "2020"
year = int(year)
for i in range(0, 3):
    print(year - i)

2020
2019
2018

In [33]:
# 20 *
price = 48584
total_price = price * 36
print(format(total_price, ','))

1,749,024