In [3]:
# 021
letters = "python"
print(letters[0], letters[2])

p t

In [5]:
# 022
license_plate = "24가 2210"
print(license_plate[-4:])

2210

In [6]:
# 023
string = "홀짝홀짝홀짝"
print(string[::2])

홀홀홀

In [9]:
# 024
string = "PYTHON"
print(string[::-1])

NOHTYP

In [10]:
# 025
phone_number = "010-1111-2222"
phone_number = phone_number.replace("-", " ")
print(phone_number)

010 1111 2222

In [13]:
# 026
phone_number = phone_number.replace(" ", "")
print(phone_number)

01011112222

In [17]:
# 027 *
url = "http://sharbook.kr"
print(url[url.find(".")+1:])

# 정답
"""
url_split = url.split('.')
print(url_split[-1])

"""

kr

"\nurl_split = url.split('.')\nprint(url_split[-1])\n\n"

In [18]:
# 028
"""
lang = 'python'
lang[0] = 'P'
print(lang)
"""
# 예외 발생, 문자열은 immutable

TypeError: 'str' object does not support item assignment

In [20]:
# 029
string = 'abcdfe2a354a32a'
string = string.replace('a', 'A')
print(string)

Abcdfe2A354A32A

In [21]:
# 030
string = 'abcd'
string.replace('b', 'B')
print(string)

# = 으로 할당해주지 않으면 원본은 변경되지 않음

abcd

In [22]:
# 031
a = "3"
b = "4"
print(a + b)

34

In [23]:
# 032
print("Hi" * 3)

HiHiHi

In [24]:
# 033
print('-' * 80)

--------------------------------------------------------------------------------

In [27]:
# 034
t1 = 'python'
t2 = 'java'
print((t1 + " " + t2 + "") * 4)

python javapython javapython javapython java

In [32]:
# 035
name1 = "김민수"
age1 = 10
name2 = "이철희"
age2 = 13

print("이름 : {} 나이 : {}".format(name1, age1))
print("이름 : {} 나이 : {}".format(name2, age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [34]:
# 036
print("이름 : %s 나이 : %d" % (name1, age1))
print("이름 : %s 나이 : %d" % (name2, age2))

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [35]:
# 037
print(f"이름 : {name1} 나이 : {age1}")
print(f"이름 : {name2} 나이 : {age2}")

이름 : 김민수 나이 : 10
이름 : 이철희 나이 : 13

In [38]:
# 038
상장주식수 = "5,969,782,550"
print(int(상장주식수.replace(",", "")))

5969782550

In [41]:
# 039
분기 = "2020/03(E) (IFRS연결)"
분기_year = 분기[:7]
print(분기_year)

2020/03

In [45]:
# 040
data = "   삼성전자    "
data1 = data.strip()
print(data1)

삼성전자

In [44]:
# 041
ticker = "btc_krw"
ticker2 = ticker.upper()
print(ticker2)

BTC_KRW

In [46]:
# 042
ticker = "BTC_KRW"
ticker2 = ticker.lower()
print(ticker2)

btc_krw

In [48]:
# 043
sasam = 'hello'
sasam2 = sasam.capitalize ()
print(sasam2)

Hello

In [49]:
# 044
file_name = "보고서.xlsx"
print(file_name.endswith("xlsx"))

True

In [53]:
# 045
file_name = "보고서.xlsx"
print(file_name.endswith(("xlsx", "xls")))

True

In [55]:
# 046
file_name = "2020_보고서.xlsx"
print(file_name.startswith("2020"))

True

In [57]:
# 047
a = "hello world"
a = a.split(" ")
print(a)

['hello', 'world']

In [58]:
# 048
ticker = "btc_krw"
ticker = ticker.split("_")
print(ticker)

['btc', 'krw']

In [59]:
# 049
date = "2020-05-01"
date = date.split("-")
print("{}년 {}월 {}일".format(date[0], date[1], date[2]))

2020년 05월 01일

In [60]:
# 050
data = "039490     "
data = data.rstrip()
print(data)

039490