In [2]:
# 051
movie_rank = ["닥터 스트레인지", "스플릿", "럭키"]
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키']

In [3]:
# 052
movie_rank.append("배트맨")
print(movie_rank)

['닥터 스트레인지', '스플릿', '럭키', '배트맨']

In [8]:
# 053
movie_rank = ['닥터 스트레인지', '스플릿', '럭키', '배트맨']
movie_rank.insert(1, "슈퍼맨")
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']

In [12]:
# 054
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
movie_rank.remove('럭키')
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [13]:
# 054_2
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '럭키', '배트맨']
del movie_rank[3]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']

In [14]:
# 055
movie_rank = ['닥터 스트레인지', '슈퍼맨', '스플릿', '배트맨']
del movie_rank[2:]
print(movie_rank)

['닥터 스트레인지', '슈퍼맨']

In [20]:
# 056
lang1 = ["C", "C++", "JAVA"]
lang2 = ["Python", "Go", "C#"]
lang1.extend(lang2)
langs = lang1
print(langs)

# 정답
# langs = lang1 + lang2

['C', 'C++', 'JAVA', 'Python', 'Go', 'C#']

In [21]:
# 057
nums = [1, 2, 3, 4, 5, 6, 7]b
print("max : {0}\nmin : {1}".format(max(nums), min(nums)))

max : 7
min : 1

In [22]:
# 058
nums = [1, 2, 3, 4, 5]
print(sum(nums))

15

In [23]:
# 059
cook = ["피자", "김밥", "만두", "양념치킨", "족발", "피자", "김치만두", "쫄면", "쏘세지", "라면", "팥빙수", "김치전"]
print(len(cook))

12

In [26]:
# 060 *

nums = [1, 2, 3, 4, 5]
avg_nums = sum(nums)/len(nums)
print(avg_nums)

3.0

In [27]:
# 061
price = ['20180728', 100, 130, 140, 150, 160, 170]
price_exeptdate = price[1:]
print(price_exeptdate)

[100, 130, 140, 150, 160, 170]

In [28]:
# 062
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums_odd = nums[::2]
print(nums_odd)

[1, 3, 5, 7, 9]

In [29]:
# 063
nums = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
nums_even = nums[1::2]
print(nums_even)

[2, 4, 6, 8, 10]

In [30]:
# 064
nums = [1, 2, 3, 4, 5]
nums_reversed = nums[::-1]
print(nums_reversed)

[5, 4, 3, 2, 1]

In [32]:
# 065
interest = ['삼성전자', 'LG전자', 'Naver']
# print(interest[::2]) # 얘는 리스트로 출력됨
print(interest[0], interest[2])

['삼성전자', 'Naver']
삼성전자 Naver

In [39]:
# 066
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
for i in range(0,5):
    interest_str = interest[i]
    print(interest_str, end=" ")
    
"""
정답
print(" ".join(interest))

"""

삼성전자 LG전자 Naver SK하이닉스 미래에셋대우

In [40]:
# 067
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("/".join(interest))

삼성전자/LG전자/Naver/SK하이닉스/미래에셋대우

In [41]:
# 068
interest = ['삼성전자', 'LG전자', 'Naver', 'SK하이닉스', '미래에셋대우']
print("\n".join(interest))

삼성전자
LG전자
Naver
SK하이닉스
미래에셋대우

In [43]:
# 069
string = "삼성전자/LG전자/Naver"
interest = string.split("/")
print(interest)

['삼성전자', 'LG전자', 'Naver']

In [45]:
# 070
data = [2, 4, 3, 1, 5, 10, 9]
data.sort()
print(data)

[1, 2, 3, 4, 5, 9, 10]

In [2]:
# 071
my_variable = tuple()
print(my_variable, type(my_variable))

() <class 'tuple'>

In [3]:
# 072
movie_rank = ("닥터 스트레인지", "스플릿", "럭키")
print(movie_rank, type(movie_rank))

('닥터 스트레인지', '스플릿', '럭키') <class 'tuple'>

In [5]:
# 073
num_one = (1,)
print(num_one, type(num_one))

(1,) <class 'tuple'>

In [ ]:
# 074
t = (1, 2, 3)
# t[0] = 'a'
# 튜플은 불변

In [6]:
# 075
t = 1, 2, 3, 4
print(t, type(t))

(1, 2, 3, 4) <class 'tuple'>

In [8]:
# 076
t = ('a', 'b', 'c')
t = ('A', 'b', 'c')
print(t, type(t))

# 튜플은 수정 x 새로 선언 필요

('A', 'b', 'c') <class 'tuple'>

In [9]:
# 077
interest = ('삼성전자', 'LG전자', 'SK Hynix')
interest_list = list(interest)
print(interest_list, type(interest_list))

['삼성전자', 'LG전자', 'SK Hynix'] <class 'list'>

In [10]:
# 078
interest = ['삼성전자', 'LG전자', 'SK Hynix']
interest_tup = tuple(interest)
print(interest_tup, type(interest_tup))

('삼성전자', 'LG전자', 'SK Hynix') <class 'tuple'>

In [11]:
# 079
temp = ('apple', 'banana', 'cake')
a, b, c = temp
print(a, b, c)

apple banana cake

In [13]:
# 080
range_func1 = list(range(1, 99))
range_func2 = range_func1[1::2]
range_func3 = tuple(range_func2)
print(type(range_func3))
print(range_func3)

<class 'tuple'>
(2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98)