In [1]:
# 131 # 결과확인문제
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
    print(변수)

사과
귤
수박

In [2]:
# 132 # 결과확인문제
과일 = ["사과", "귤", "수박"]
for 변수 in 과일:
  print("#####")

#####
#####
#####

In [3]:
# 133
for 변수 in ["A", "B", "C"]:
  print(변수)

print("A\nB\nC")

A
B
C
A
B
C

In [5]:
# 134
for 변수 in ["A", "B", "C"]:
  print("출력:", 변수)

print("출력: A\n출력: B\n출력: C")

출력: A
출력: B
출력: C
출력: A
출력: B
출력: C

In [6]:
# 135
for 변수 in ["A", "B", "C"]:
  b = 변수.lower()
  print("변환:", b)
print("변환: a\n변환: b\n변환: c")

변환: a
변환: b
변환: c
변환: a
변환: b
변환: c

In [7]:
# 136
변수 = 10
print(변수)
변수 = 20
print(변수)
변수 = 30
print(변수)

for i in [10, 20, 30]:
    print(i)

10
20
30
10
20
30

In [9]:
# 137
print(10)
print(20)
print(30)

for i in [10, 20, 30]:
    print(i)

10
20
30
10
20
30

In [10]:
# 138
print(10)
print("-------")
print(20)
print("-------")
print(30)
print("-------")

for i in [10, 20, 30]:
    print(i)
    print("-------")

10
-------
20
-------
30
-------
10
-------
20
-------
30
-------

In [11]:
# 139
print("++++")
print(10)
print(20)
print(30)

cnt = 0
for i in [10, 20, 30]:
    if cnt == 0:
        print("++++")
        cnt += 1
    else:
        pass
    print(i)

++++
10
20
30
++++
10
20
30

In [16]:
# 140
for i in range(4):
    print("-------")

-------
-------
-------
-------
[0, 1, 2, 3]

In [17]:
# 141
리스트 = [100, 200, 300]
부가세 = 10

for i in 리스트:
    print(i + 부가세)

110
210
310

In [18]:
# 142
리스트 = ["김밥", "라면", "튀김"]

for i in 리스트:
    print("오늘의 메뉴: {}".format(i))

오늘의 메뉴: 김밥
오늘의 메뉴: 라면
오늘의 메뉴: 튀김

In [19]:
# 143
리스트 = ["SK하이닉스", "삼성전자", "LG전자"]
for i in 리스트:
    print(len(i))

6
4
4

In [20]:
# 144
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i, len(i))

dog 3
cat 3
parrot 6

In [22]:
# 145
리스트 = ['dog', 'cat', 'parrot']
for i in 리스트:
    print(i[0])

d
c
p

In [23]:
# 146
리스트 = [1, 2, 3]
for i in 리스트:
    print("3 x {}".format(i))

3 x 1
3 x 2
3 x 3

In [24]:
# 147
리스트 = [1, 2, 3]
for i in 리스트:
    print("3 x {} = {}".format(i, i*3))

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9

In [26]:
# 148
리스트 = ["가", "나", "다", "라"]

for i in range(1, 4):
    print(리스트[i])

나
다
라

In [27]:
# 149
리스트 = ["가", "나", "다", "라"]

for i in 리스트[::2]:
    print(i)

가
다

In [28]:
# 150
리스트 = ["가", "나", "다", "라"]

for i in 리스트[::-1]:
    print(i)

라
다
나
가

In [29]:
# 151
리스트 = [3, -20, -3, 44]

for i in 리스트:
    if i < 0:
        print(i)
    else:
        pass

-20
-3

In [30]:
# 152
리스트 = [3, 100, 23, 44]

for i in 리스트:
    if i % 3 == 0:
        print(i)

3

In [31]:
# 153
리스트 = [13, 21, 12, 14, 30, 18]

for i in 리스트:
    if i < 20 and i % 3 == 0:
        print(i)

12
18

In [32]:
# 154
리스트 = ["I", "study", "python", "language", "!"]

for i in 리스트:
    if len(i) >= 3:
        print(i)

study
python
language

In [34]:
# 155
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.isupper():
        print(i)

A
D

In [35]:
# 156
리스트 = ["A", "b", "c", "D"]

for i in 리스트:
    if i.islower():
        print(i)

b
c

In [36]:
# 157
리스트 = ['dog', 'cat', 'parrot']

for i in 리스트:
    print(i.capitalize())

Dog
Cat
Parrot

In [38]:
# 158
리스트 = ['hello.py', 'ex01.py', 'intro.hwp']

for i in 리스트:
    print(i[:i.find(".")])

hello
ex01
intro

In [40]:
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if i[-2:] == ".h":
        print(i)

intra.h
define.h

In [42]:
# 160
# 159
리스트 = ['intra.h', 'intra.c', 'define.h', 'run.py']

for i in 리스트:
    if i[-2:] == ".h" or i[-2:] == ".c":
        print(i)

intra.h
intra.c
define.h

In [43]:
# 161
for i in range(100):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99

In [45]:
# 162

world_cup = list(range(2002, 2051, 4))

for i in world_cup:
    print(i)

2002
2006
2010
2014
2018
2022
2026
2030
2034
2038
2042
2046
2050

In [46]:
# 163

for i in range(1, 31):
    if i % 3 == 0:
        print(i)

3
6
9
12
15
18
21
24
27
30

In [50]:
# 164
minus = list(range(0,100))
minus.reverse()
for i in minus:
    print(i)

99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
0

In [53]:
# 165
for i in range(10):
    print(i/10)

0.0
0.1
0.2
0.3
0.4
0.5
0.6
0.7
0.8
0.9

In [55]:
# 166
for i in range(1,10):
    print("3x{} = {}".format(i, i*3))

3x1 = 3
3x2 = 6
3x3 = 9
3x4 = 12
3x5 = 15
3x6 = 18
3x7 = 21
3x8 = 24
3x9 = 27

In [57]:
# 167
for i in range(1,10):
    if i % 2 != 0:
        print("3x{} = {}".format(i, i*3))

3x1 = 3
3x3 = 9
3x5 = 15
3x7 = 21
3x9 = 27

In [59]:
# 168

a = []

for i in range(1, 11):
    a.append(i)

print(합 : sum(a))

"""
정답
a = 0
for i in ragne(1, 11):
    a += i
print("합 : ", a)

"""

55

In [62]:
# 169
a = 0
for i in range(1, 11):
    if i % 2 != 0:
        a += i
print("합 : ", a)

합 :  25

In [63]:
# 170
a = 1
for i in range(2, 11):
    a *= i
print(a)

3628800

In [65]:
# 171
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(price_list[i])

32100
32150
32000
32500

In [66]:
# 172
price_list = [32100, 32150, 32000, 32500]

for i in range(4):
    print(i, price_list[i])

0 32100
1 32150
2 32000
3 32500

In [71]:
# 173
price_list = [32100, 32150, 32000, 32500]
temp_lst = list(range(4))

for i in temp_lst:
    print(temp_lst[-(i+1)], end=" ")
    print(price_list[i])
    
# 정답
'''
for i in range(len(price_list)):
    print((len(price_list) - 1) - i, price_list[i])
'''

3 32100
2 32150
1 32000
0 32500

In [72]:
# 174
price_list = [32100, 32150, 32000, 32500]
j = 100

for i in range(1, len(price_list)):
    print(j, price_list[i])
    j += 10

100 32150
110 32000
120 32500

In [73]:
# 175
my_list = ["가", "나", "다", "라"]

for i in range(3):
    print(my_list[i], my_list[i+1])

가 나
나 다
다 라

In [75]:
# 176
my_list = ["가", "나", "다", "라", "마"]

for i in range(len(my_list)-2):
    print(my_list[i], my_list[i+1], my_list[i+2])

가 나 다
나 다 라
다 라 마

In [79]:
# 177
my_list = ["가", "나", "다", "라"]
my_list.reverse()

for i in range(len(my_list)-1):
    print(my_list[i], my_list[i+1])
    
# 다른 방법
'''
for i in range(len(my_list) - 1, 0, -1):
    print(my_list[i], my_list[i-1])
'''

라 다
다 나
나 가

In [80]:
# 178
my_list = [100, 200, 400, 800]
for i in range(1, len(my_list)):
    print(my_list[i] - my_list[i-1])

100
200
400

In [82]:
# 179 *
my_list = [100, 200, 400, 800, 1000, 1300]
for i in range(len(my_list) - 2):
    sub_list = [my_list[i], my_list[i+1], my_list[i+2]]
    print(sum(sub_list)/len(sub_list))

233.33333333333334
466.6666666666667
733.3333333333334
1033.3333333333333

In [86]:
# 180
low_prices  = [100, 200, 400, 800, 1000]
high_prices = [150, 300, 430, 880, 1000]
volatility = []
for i in range(len(low_prices)):
    vol = high_prices[i] - low_prices[i]
    volatility.append(vol)
    print("{}일차 변동폭 : {}".format(i, vol))
print(volatility)

0일차 변동폭 : 50
1일차 변동폭 : 100
2일차 변동폭 : 30
3일차 변동폭 : 80
4일차 변동폭 : 0
[50, 100, 30, 80, 0]

In [89]:
# 181

apt_list = []

for i in range(1, 4):
    apt = [str(i)+"01호", str(i)+"02호"]
    apt_list.append(apt)
print(apt_list)

[['101호', '102호'], ['201호', '202호'], ['301호', '302호']]

In [90]:
# 182
stock = [[100, 80], [200, 210], [300, 330]]
print(stock)

[[100, 80], [200, 210], [300, 330]]

In [94]:
# 183
"""
* 문제 잘못 이해함 
start_prices = [100, 200, 300]
end_prices = [80, 210, 300]
stock = dict(zip(start_prices, end_prices))
print(stock)
"""

stock = {'시가':[100, 200, 300], '종가':[80, 210, 330]}
print(stock)

{'시가': [100, 200, 300], '종가': [80, 210, 330]}

In [95]:
# 184
stock = {"10/10":[80, 110, 70, 90], "10/11":[210, 230, 190, 200]}
print(stock)

{'10/10': [80, 110, 70, 90], '10/11': [210, 230, 190, 200]}

In [101]:
# 185
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in range(len(apart)):
    for j in range(len(apart) - 1):
        print(apart[i][j], "호")

101 호
102 호
201 호
202 호
301 호
302 호

In [110]:
# 186
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in range(len(apart)):
    for j in range(len(apart) - 1):
        print(apart[len(apart) - 1 - i][len(apart) - 2 - j], "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [113]:
# 186 정답
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]: # 이렇게 하면 안에 든 리스트가 역순으로 출력됨
    for j in i:
        print(j, "호")

301 호
302 호
201 호
202 호
101 호
102 호

In [117]:
# 187
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in range(len(i)):
        print(i[1 - j], "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [119]:
# 187 정답
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart[::-1]:
    for j in i[::-1]:
        print(j, "호")

302 호
301 호
202 호
201 호
102 호
101 호

In [120]:
# 188
apart = [ [101, 102], [201, 202], [301, 302] ]

for i in apart:
    for j in i:
        print(j, "호\n-----")

101 호
-----
102 호
-----
201 호
-----
202 호
-----
301 호
-----
302 호
-----

In [121]:
# 189
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, "호")
    print('-----')

101 호
102 호
-----
201 호
202 호
-----
301 호
302 호
-----

In [124]:
# 190
apart = [ [101, 102], [201, 202], [301, 302] ]
for i in apart:
    for j in i:
        print(j, "호")
print('-----')

101 호
102 호
201 호
202 호
301 호
302 호
-----

In [125]:
# 191 *
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j + j * 0.00014) # j * 1.00014 도 됨

2000.28
3050.427
2050.287
1980.2772
7501.05
2050.287
2050.287
1980.2772
15452.163
15052.107
15552.177
14902.086

In [126]:
# 192
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j * 1.00014)
    print('-' * 4)

2000.28
3050.427
2050.2870000000003
1980.2772
----
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
----
15452.163
15052.107
15552.177
14902.086000000001
----

In [127]:
# 193
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []

for i in data:
    for j in i:
        s_result = j * 1.00014
        result.append(s_result)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [128]:
# 194 *
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

result = []

for i in data:
    sub = []
    for j in i:
        s_result = j * 1.00014
        sub.append(s_result)
    result.append(sub)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [136]:
# 195 *
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in range(4):
    if i == 0:
        for j in range(4):
            if ohlc[i][j] != "close":
                pass
            else:
                end_num = j
    else:
        print(ohlc[i][end_num])

100
190
310

In [137]:
# 196
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in range(4):
    if i == 0:
        for j in range(4):
            if ohlc[i][j] != "close":
                pass
            else:
                end_num = j
    else:
        h = ohlc[i][end_num]
        if h > 150:
            print(h)

190
310

In [139]:
# 197
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in range(4):
    if i == 0:
        for j in range(4):
            if ohlc[i][j] == "open":
                start_num = j
            elif ohlc[i][j] == "close":
                end_num = j
    else:
        end_num_val = ohlc[i][end_num]
        start_num_val = ohlc[i][start_num]
        if end_num_val >= start_num_val:
            print(end_num_val)

100
310

In [141]:
# 198
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

volatility = []

for i in range(4):
    if i == 0:
        for j in range(4):
            if ohlc[i][j] == "high":
                high_num = j
            elif ohlc[i][j] == "low":
                low_num = j
    else:
        high_num_val = ohlc[i][high_num]
        low_num_val = ohlc[i][low_num]
        vol_val = high_num_val - low_num_val
        volatility.append(vol_val)
print(volatility)

[40, 30, 10]

In [144]:
# 199
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

for i in range(4):
    if i == 0:
        for j in range(4):
            
            if ohlc[i][j] == "open":
                start_num = j
            elif ohlc[i][j] == "high":
                high_num = j
            elif ohlc[i][j] == "low":
                low_num = j
            else:
                end_num = j
    else:
        high_num_val = ohlc[i][high_num]
        low_num_val = ohlc[i][low_num]
        end_num_val = ohlc[i][end_num]
        start_num_val = ohlc[i][start_num]
        vol_val = high_num_val - low_num_val
        if end_num_val > start_num_val:
            print(vol_val)

10

In [145]:
# 200
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]

profit = []

for i in range(4):
    if i == 0:
        for j in range(4):
            if ohlc[i][j] == "open":
                start_num = j
            elif ohlc[i][j] == "close":
                end_num = j
    else:
        end_num_val = ohlc[i][end_num]
        start_num_val = ohlc[i][start_num]
        profit_val = start_num_val - end_num_val
        profit.append(profit_val)

print(sum(profit))

0